@tailwind base;
@tailwind components;
@tailwind utilities;


  .gradient-background {
    background: linear-gradient(180deg,#D9D9D9,#a3a3e5,#9f9fc0);
    background-size: 180% 180%;
    animation: gradient-animation 3s ease infinite;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

.svg-curve {
    fill: none;
    width: 100%;
    display: block;
}

.svg-curve path {
    fill: #A1A1D2;
}