@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-nav-dark: #B3B3B3;
    --color-nav-light: #676767;
    --color-bg-dark: #141414;
    --color-bg-light: #ECECEC;
    --color-text-dark: #FFFFFF;
    --color-text-light: #000000;
    --color-button-bg-dark: #383737;
    --color-button-bg-light: #C9C9C9;
    --font-rob: 'Roboto', sans-serif;
}

@layer base {
    html {
        font-family: var(--font-rob);
    }
}